
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/homepage.css">
    <title>Welcome to Steel Quality Inspection Website</title>
</head>
<body>
    <div class="container">
        <div class="logout-button">
            <a href="/">Logout</a>
        </div>
        <h1 class="title">Welcome to</h1>
        <h1 class="main-title">Steel Quality Inspection Website</h1>
        <div class="buttons">


            <a href="/index" class="classify-button">Classify Your Image</a>
            <a href="/description" class="description-button">See Description for Labels</a> 

        </div>
    </div>
</body>
</html>
